{%  extends 'base.html' %}
{%  load crispy_forms_tags %}
{%  load i18n %}
{%  block main-content %}
<div class="row">
    <div class="col-md-8">
        <h1>Petycja</h1>
        <h2>{{ object.title }}</h2>
        {{ object.text | safe }}
    </div>
    <div class="col-md-4">
        <h2>Formularz</h2>
        {% crispy form %}

        <a class="btn btn-primary" href="{% url 'petitions:signature' slug=object.slug %}">{%  trans "Signature list" %}</a>
        <h2>Podpisal</h2>
        <p>Petycje podpisało {{ object.signature_set.all.count }} organizacji. Dołącz do nich!</p>
    </div>
</div>
{%  endblock %}
